{{!-- this is terrible, need to make the original component more flexible to avoid this crazy --}}
<div class="form-group col-md-6">
  <label class="control-label">L:</label>
  {{star-rating}}
</div>
