<div class="form-group col-md-8"> 
  <label class="control-label" for="wineType">Type</label>
  {{input class="form-control" id="wineType" list="wineTypesList" value=review.wineType}}
  <datalist id="wineTypesList">
    {{#each wineTypes as |type|}}
      <option>{{type}}</option>
    {{/each}}
  </datalist>
</div>
