<div class="row"> {{!-- all content --}}
  <form class="col-md-offset-2 col-md-8"> {{!-- all content --}}
    <div class="row wine-details"> {{!-- photo and details --}}
      <div class="col-md-3"> {{!-- photo --}}
        this is photo
      </div> {{!-- /photo --}}
      <div class="col-md-9"> {{!-- details --}}
        <div class="row"> {{!-- vineyard and year --}}
          <div class="col-md-5"> {{!-- vineyard --}}
            vineyard
          </div> {{!-- /vineyard --}}
          <div class="col-md-offset-2 col-md-5"> {{!-- year --}}
            year
          </div> {{!-- /year --}}
        </div> {{!-- vineyard and year --}}

        <div class="row"> {{!-- type and price --}}
          <div class="col-md-5"> {{!-- type --}}
            type dropdown
          </div> {{!-- /type--}}
          <div class="col-md-offset-2 col-md-5"> {{!-- price--}}
            price 
          </div> {{!-- /price--}}
        </div> {{!-- /type and price --}}

        <div class="row"> {{!-- location --}}
          <div class="col-md-4"> {{!-- region/city --}}
            region/city
          </div> {{!-- region/city --}}
          <div class="col-md-4"> {{!-- state/province --}}
            state/province
          </div> {{!-- state/province --}}
          <div class="col-md-4"> {{!-- country --}}
            country
          </div> {{!-- /country --}}
        </div>

        <div class="row"> {{!-- individual ratings --}}
          <div class="col-md-6">
            L:
            <button type="button" class="btn btn-success">
              <span class="glyphicon glyphicon-star"></span>
            </button>
            <button type="button" class="btn btn-success">
              <span class="glyphicon glyphicon-star"></span>
            </button>
            <button type="button" class="btn btn-success">
              <span class="glyphicon glyphicon-star"></span>
            </button>
            <button type="button" class="btn btn-success">
              <span class="glyphicon glyphicon-star"></span>
            </button>
            <button type="button" class="btn btn-success">
              <span class="glyphicon glyphicon-star"></span>
            </button>
          </div>
          <div class="col-md-6 rating-dean">
            D:
            <button type="button" class="btn btn-info">
              <span class="glyphicon glyphicon-star"></span>
            </button>
            <button type="button" class="btn btn-info">
              <span class="glyphicon glyphicon-star"></span>
            </button>
            <button type="button" class="btn btn-info">
              <span class="glyphicon glyphicon-star"></span>
            </button>
            <button type="button" class="btn btn-info">
              <span class="glyphicon glyphicon-star"></span>
            </button>
            <button type="button" class="btn btn-info">
              <span class="glyphicon glyphicon-star"></span>
            </button>
          </div>
        </div> {{!-- individual ratings --}}
      </div> {{!-- /details --}}
    </div> {{!-- /photo and details --}}

    <div class="row"> {{!-- review --}}
      space for review which is quite long and we wax poetic about the oaky flavor and fruity body or something winey like that
    </div>
  </form>
</div>
